In [1]:
import pandas as pd
import numpy as np

In [2]:
df_animes = pd.read_csv("./data/anime.csv")
df_rating = pd.read_csv("./data/rating.csv")

In [3]:
columns=['anime_id','name','rating', 'members']
filtro_filme = df_animes['episodes']!='1'
df_anime_filtrado = df_animes[filtro_filme]
df_anime_filtrado = df_anime_filtrado[columns]

In [4]:
df_rating

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [5]:
df_anime_filtrado.sort_values(by='members', ascending=False).head(10)

     anime_id                              name  rating  members
40       1535                        Death Note    8.71  1013917
86      16498                Shingeki no Kyojin    8.54   896229
804     11757                  Sword Art Online    7.83   893100
1        5114  Fullmetal Alchemist: Brotherhood    9.26   793665
159      6547                      Angel Beats!    8.39   717796
19       1575   Code Geass: Hangyaku no Lelouch    8.83   715151
841        20                            Naruto    7.81   683297
3        9253                       Steins;Gate    9.17   673572
445     10620                  Mirai Nikki (TV)    8.07   657190
131      4224                         Toradora!    8.45   633817

In [6]:
df_anime_filtrado.sort_values(by='rating', ascending=False).head(10)

,anime_id,name,rating,members
10400,30120,Spoon-hime no Swing Kitchen,9.60,47
1,5114,Fullmetal Alchemist: Brotherhood,9.26,793665
2,28977,GintamaÂ°,9.25,114262
3,9253,Steins;Gate,9.17,673572
4,9969,Gintama&#039;,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,9.15,93351
6,11061,Hunter x Hunter (2011),9.13,425855
7,820,Ginga Eiyuu Densetsu,9.11,80679
9,15417,Gintama&#039;: Enchousen,9.11,81109
10,4181,Clannad: After Story,9.06,456749

In [7]:
df_user_rating_anime = pd.merge(left=df_rating, right=df_anime_filtrado, on='anime_id',how='left')
columns=['user_id','anime_id','rating_x','name']
df_user_rating_anime = df_user_rating_anime[columns]

In [8]:
df_user_rating_anime.rename(columns={"rating_x": "user_rating"},inplace=True)

In [9]:
df_user_rating_anime.head(10)

   user_id  anime_id  user_rating                        name
0        1        20           -1                      Naruto
1        1        24           -1               School Rumble
2        1        79           -1                    Shuffle!
3        1       226           -1                  Elfen Lied
4        1       241           -1   Girls Bravo: First Season
5        1       355           -1           Shakugan no Shana
6        1       356           -1             Fate/stay night
7        1       442           -1                         NaN
8        1       487           -1  Girls Bravo: Second Season
9        1       846           -1      School Rumble Ni Gakki